@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Colors */

    /* Primary */
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral */
    --Dark-gray: hsl(0, 0%, 59%);

    /* Fonts */
    --Kumbh-Sans-font: "Kumbh Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Dark-cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 35vh right 50vw, top 50vh left 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Kumbh-Sans-font);
}

.card {
    background-color: #fff;
    min-width: 350px;
    margin: .9375em;
    border-radius: 15px;
    box-shadow: 0 24px 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    min-height: 200px;
    position: relative;
}

.card-head-img {
    background-image: url(./images/bg-pattern-card.svg);
    min-height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.user-profile-pic {
    border-radius: 50%;
    border: solid 5px #fff;
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    bottom: 50px;
}

.profile-info {
    text-align: center;
    padding: 1.25em;
}

.user-name {
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.125rem;
    margin: 0.375em;
}

.user-age,
.user-city {
    color: var(--Dark-gray);
}

.user-city {
    font-size: 0.875rem;
    font-weight: 700;
}

.stats {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: var(--Dark-gray);
    font-size: 0.725rem;
    padding: 1.5em;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 20px;
    border-top: solid 1px hsl(0, 0%, 90%);
}

.count-num {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--Very-dark-desaturated-blue);
}